<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="TemplateFile" value=".\Data\Template\05-06.csv" />
      <add key="PremierLeagueData" value=".\Data\PremierLeague\" />
      <add key="Output" value=".\Data\Output\result.csv" />
    </appSettings>
</configuration>